.container {
  max-width: 100%;
  display: flex;
  flex-direction: row;
  gap: 32px;
}

.metadataContainer {
  display: flex;
  flex-direction: column;
  -webkit-box-flex: 1;
  flex: 1 1 auto;
  vertical-align: inherit;
  display: flex;
  max-width: 100%;
}

.listingContainer {
  flex-shrink: 1;
  position: sticky;
  width: 100%;
  min-width: 370px;
  max-width: 450px;
  top: 96px;
}

.image {
  border-radius: 16px;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.04);
}

.contractMetadataContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 8px;
}

.collectionImage {
  width: 32px;
  height: 32px;
  border-radius: 8px;
  margin-right: 8px;
}

.collectionName {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 100%;
  margin: 0px;
}

.title {
  font-weight: 700;
  font-size: 32px;
  hyphens: auto;
  overflow-wrap: break-word;
  margin-bottom: 4px;
}

.nftOwnerContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 8px;
  margin-top: 24px;
  gap: 8px;
  transition: opacity 0.2s ease-in-out;
}

.nftOwnerContainer:hover {
  cursor: pointer;
  opacity: 0.8;
}

.nftOwnerImage {
  margin-top: 16px;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background: linear-gradient(
    134deg,
    var(--color-tertiary),
    var(--color-quaternary)
  );
  opacity: 0.9;
  border: 2px solid rgba(255, 255, 255, 0.2);
}

.nftOwnerInfo {
  margin: 0px;
  padding: 0px;
  display: flex;
  flex-direction: column;
  height: 100%;
  margin-top: 16px;
}

.label {
  color: rgba(255, 255, 255, 0.6);
  margin: 0px;
  margin-bottom: 4px;
}

.nftOwnerAddress {
  font-weight: 600;
  margin: 0px;
  color: rgba(255, 255, 255, 0.9);
}

.descriptionContainer {
  padding-left: 16px;
  padding-right: 16px;
}

.pricingContainer {
  width: 100%;
  position: relative;
  -webkit-box-flex: 1;
  flex-grow: 1;
  background: transparent;
  padding: 24px;
  border-radius: 16px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  overflow: hidden;
  min-height: 210px;
  margin-top: 32px;
}

.pricingInfo {
  padding: 16px;
  border-radius: 14px;
  background-color: rgba(255, 255, 255, 0.04);
  min-height: 100px;
  width: 100%;
  margin: 0px;
  margin-bottom: 12px;
}

.pricingValue {
  font-size: 18px;
  line-height: 24px;
  font-weight: 600;
  color: rgba(255, 255, 255, 0.9);
  margin: 0px;
  border-radius: 8px;
}

.buyButton:hover {
  cursor: pointer;
  opacity: 0.8 !important;
}
